<!--
  Notes:
  onkeydown this event prevents spacebar scrolling
-->
<label
  class="ngjs-checkbox"
  ng-class="$ctrl.disabled && 'ngjs-checkbox-checkbox-disabled'"
  ng-keyup="$ctrl.onKeyUpFunc($event)"
  onkeydown="if (event.keyCode === 32) { event.preventDefault(); }"
  tabindex="0"
>
  <input
    type="checkbox"
    ng-disabled="$ctrl.disabled"
    ng-checked="$ctrl.checked"
    ng-click="$ctrl.onChange($event)"
    tag-label="{{$ctrl.tagLabel}}"
  />
  <span class="ngjs-checkbox-checkbox-checkmark"></span>
  <span class="ngjs-checkbox-checkbox-label" ng-click="$ctrl.onLabelClicked($event)">
    <ng-transclude />
  </span>
</label>
